@import './variables.scss';
@import './mixins.scss';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.App {
  font-family: 'Ubuntu', sans-serif;
}

.App header {
  box-sizing: border-box;
  box-shadow: 0 1px 1px #000;
  background-color: $headerBackground;
  padding: 0 20px 2px 10px;
  font-size: 26px;
  text-shadow: 0 1px 1px #000;

  a {
    text-decoration: none;
    color: $orange;
    &:not(:first-child) {
      &:before{content:'\00B7';padding-right:5px;}
      padding-right: 5px;
    }
    &:nth-child(2) {
      &:before{content:''}
      padding-left: 10px;
      border-left: none;
    }
  }
}

.displayNone {
  display: none;
}

input[type="text"] {
  border: none;
  border-radius: 2px;
  padding: 5px;
  box-shadow: rgba(0,0,0, 0.1) 0 0 3px;
}

button {
  @include createButton($brown)
}

button.inactiveButton, a.inactiveButton {
  opacity: .7;
}

button.deleteButton {
  @include createButton($warningRed)
}

button.primaryButton {
  @include createButton($primaryBlue)
}

#homeLink {
  color: $yellow;
  font-family: 'Knewave', cursive;
  font-size: 38px;
}

table {
  border-spacing: 0;
}

th {
  text-align: left;
  background: lighten($lightGreen, 15%);
}

td:nth-child(1), th:nth-child(1) {
  width: 280px;
}

td:nth-child(2), td:nth-child(3), th:nth-child(2), th:nth-child(3) {
  width: 120px;
}

td:nth-child(4), th:nth-child(4) {
  width: 135px;

  button:not(:first-child) {
    margin-left: 5px;
  }
}

td input[type="text"] {
  width: 100%;
}

td, th {
  padding: 5px 10px;
}

tr:nth-child(even) {
  background: lighten($lightGreen, 15%);
}

tr:nth-child(odd) {
  background: lighten($lightGreen, 25%);
}
