@import "./variables";
@import "./mixins";

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: $bodyBackground;
}

.container {
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;

    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
}

.nav {
    color: $brown;
    padding: 26px 10px 10px 10px;
    text-align: center;
    width: 150px;
    -ms-flex: 0 100px;
    -webkit-box-flex:  0;
    -moz-box-flex:  0;
    -ms-box-flex:  0;
    box-flex:  0;
}

.nav a, .nav button {
    margin-top: 5px;
    width: 100%;
}

.nav input {
    text-align: center;
    width: 100%;
}

.nav a {
    @include createButton($orange);
}

.main {
    padding-left: 10px;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
}

.main h2 {
    color: $brown;
    margin-bottom: 0;
}

.BudgetSection table {
    border: solid 1px #CCC;
}
