/* Coolors Exported Palette - coolors.co/efecca-a9cbb7-f7ff58-ff934f-5e565a */

/* RGB */
/**
 * This is our color scheme
 */
$tan: rgba(239, 236, 202, 1);
$lightGreen: rgba(169, 203, 183, 1);
$yellow: rgba(247, 255, 88, 1);
$orange: rgba(255, 147, 79, 1);
$brown: rgba(94, 86, 90, 1);

$warningRed: rgb(255, 52, 70);

$primaryBlue: rgb(37, 93, 255);

$headerBackground: $brown;

$bodyBackground: lighten($tan, 10%);
